@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap');

/*==================================================================================================*/
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: helvetica;
    max-width: 900px;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 255, 251);
}

img{
    display: block;
    max-width: 100%;
}

#top{
    position: relative;
}

#list-nav{
    background-color:#081a24;
    list-style: none;
    padding: 0;
    text-align: right;
    
}

#list-nav li{
    display: inline-block;
    margin-right: 15px;
}

#list-nav li a{
    color: #22545b;
    padding: 15px;
    display: inline-block;
    text-decoration: unset;
    text-transform: uppercase;
    position: relative;
}

#list-nav li a:hover{
    color: rgb(238, 255, 251);
}

#aprimg{
    width: 100%;
}

#logo{
    position: absolute;
    top:.5%;
    right: 78%;

}

#port h1{
    font-family: 'Nunito Sans';
    color: rgb(53, 53, 53);
    text-align: center;
    font-size: 32px;
    margin-top: 56px;
    margin-bottom: 18px;
}

#port p{
    font-family: 'Quicksand', sans-serif;
    width: 80%;
    text-align: center;
    
}

.Galery{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 100px;
    
}

.Galery > div{
    flex: 1 1 200px;
    margin: 12px;
}

.Galery > div > h2, .Galery > div > h3{
    max-width: 250px;
}

.Galery  div  h2{
    text-align: center;
    font-family: 'Big Shoulders Text', cursive;
    text-transform: uppercase; 
    letter-spacing: 0.4em;
    font-size: 18px;
    color: rgb(58, 67, 66);
    margin-top: 8px;
}

.Galery  div h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    text-align: center;
    color: rgb(64, 75, 74);
    margin-bottom: 10px;
}

.Galery div{
    margin-top: 15px;
}

.Galery div:hover{
    background-color: rgb(228, 254, 248);
}

#about{
    margin-top: 75px;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #003d52;
    position: relative;
    height: 500px;
    color: rgb(238, 255, 251);
}

#about h1{
    font-size: 40px;
    text-transform: uppercase;
    position: absolute;
    top: 85px;
    left: 85px;
}

#about p{
    font-family: 'Quicksand', sans-serif;
    color: white;
    max-width: 48%;
    position: absolute;
    top: 220px;
    left: 85px;
}

#contato h1{
    text-align: center;
    text-transform: uppercase;
    color: #003d52;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;

}

#contato iframe{
    width: 900px;
    margin-bottom: 40px;
}   

footer{
    text-align: center;
    display: block;
    background-color: #001018;
    color: #52829a;
    height: 50px;
    line-height: 50px;
    margin-bottom: 40px;
}
